@import '~styles/common.scss';

.TodoListWrapper {
    display: flex;
    flex-direction: column;

    margin: 0 auto;

    width: 600px;
    height: 600px;

    background: $oc-gray-0;
    border: 1px solid $oc-gray-7;

    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 

    .TodoItemListWrapper {
        overflow-y: scroll;
        flex: 1;
    }

    // 추가된 부분
    // breakpoints에서 지정한 medium값보다 화면넓이가 작아질시, width를 전체화면의 90%로 맞춤.
    @include media("<=medium") {
        width: 90%;
    }
}